@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

body {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Montserrat", sans-serif;
}

.navMenu {
    position: absolute;
    top: 5%;
    text-align: center;
}

.navMenu a {
    color: yellow;
    text-decoration: none;
    display: inline-block;
    width: 280px;
}

.navMenu a:hover {
    color: rgb(117, 187, 47);
}

img {
    max-height: 75px;
    max-width: 75px;
    border-radius: 50%;
}

#section {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    /* This part is for center this div into the body */
}

#frame {
    display: flex;
    align-items: center;
    /*Vertically*/
    justify-content: center;
    /*Horizontally*/
    height: 400px;
    width: 600px;
    border: 2px solid yellow;
    border-radius: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: yellow;
}

a:hover {
    color: rgb(117, 187, 47);
}