a {
    text-decoration: underline yellow;
    color: yellow;
}

a:hover {
    color: rgb(117, 187, 47);
}

h1 {
    text-shadow: 0px 0px 15px rgb(197, 197, 197);
}

.works {
    text-shadow: 0px 20px 25px red;
}