@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

body {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(167, 167, 167);
    font-family: 'Raleway', sans-serif;
}

.navMenu {
    position: absolute;
    top: 5%;
    text-align: center;
}

.navMenu a {
    color: yellow;
    display: inline-block;
    width: 280px;
}

.works {
    position: absolute;
    top: 90px;
    background: -webkit-linear-gradient(yellow 50%, red);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#section {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    /* This part is for center this div into the body */
}

#frame {
    display: flex;
    align-items: center;
    /*Vertically*/
    justify-content: center;
    /*Horizontally*/
    height: 400px;
    width: 600px;
    border: 2px solid yellow;
    border-radius: 10px;
    box-shadow: 0 0 15px yellow;
}

#frame:hover {
    box-shadow: 0px 0px 18px yellow;
}

footer {
    position: fixed;
    bottom: 0;
    margin-bottom: 0;
}